{% extends 'shared/_MainLayout.html' %}

{#{% block content %}#}
{#    <p>رمز عبور شما با موفقیت تغییر یافت. با استفاده از صفحه ورود وارد حساب خود شوید.</p>#}
{#    <span>#}
{#        <a href="/login">ورود به حساب کاربری</a>#}
{#    </span>#}
{#{% endblock %}#}

{% block content %}
    <div class="container">

			<div class="row">
				<div class="forget-password">
					<div class="col-sm-6">
						<div class="login-form"><!--Recovery form-->
                            <hr>
                            <p>رمز عبور شما با موفقیت تغییر کرد. با استفاده از لینک زیر وارد حساب خود شوید.</p>
                            <span>
                                <a href="/login">ورود به حساب کاربری</a>
                            </span>
                            <hr>
						</div><!--/Recovery form-->
					</div>
				</div>
			</div>

	</div>
{% endblock %}