{% extends 'shared/_MainLayout.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    {% include 'shared/messages.html' %}
		<section id="form"><!--form-->
			<div class="row">
				<div class="forget-password">
					<div class="col-sm-6">
						<div class="login-form"><!--Recovery form-->
							<h2>لطفاً آدرس ایمیـل خود را وارد نماییـد :</h2>
							<form action="" method="post">
                                {% csrf_token %}
                                {{ password_reset_form|crispy }}
								<button type="submit" class="btn btn-default">بازیابـی رمز عبـور</button>
							</form>
						</div><!--/Recovery form-->
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}